
$border: 6px;
$menu: 350px;
$btn: 40px;

body {
  @include webfont('sans-serif');

  font-size: 1.7rem;
  line-height: 1.6;
  overflow: hidden;
  border: $border solid white;
}

.content {
  height: calc(100vh - #{$border * 2});

  background: url(../img/raster.png),
              url(../img/back.jpg),
              linear-gradient(to bottom, #DEEFEC 0%, #87DEDB 35%,#683535 100%);
  background-blend-mode: overlay, hard-light;
  background-size: auto, cover;
}

.card {
  text-align: center;
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  padding: 2rem 2rem 3rem;
  margin: 0 auto;
  background: white;

  p {
    margin: .6rem 0 0;
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid $color-links;
  }
}

.menu {
  width: $menu;
  position: fixed;
  top: 0;
  right: -$menu;
  padding: 0 2.4rem 0 3rem;
  background: white;

  span,
  a {
    width: 100%;
    display: block;
    padding: 0 2rem;
  }
  a {
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border-top: 1px solid #e8e8e8;
  }
  span {
    height: 10rem;
    line-height: 10rem;
    color: $color-links;
  }
  span + a {
    border-top: none;
  }
  .inner {
    height: calc(100vh - #{$border * 2});
    overflow-y: auto;
  }
}

.wrapper {
  transition: transform .3s;
  // will-change: transform;

  .open & {
    transform: translateX(-100vw);

    @media (min-width: $menu) {
      transform: translateX(-$menu);
    }
  }
}

.btn {
  transition: transform .3s;
  // will-change: transform;

  @media (min-width: ($menu + $btn)) {
    .open & {
      transform: translateX(-$menu);
    }
  }
}

.btn svg {
  transition: transform 150ms ease-out 350ms;

  .open & {
    transform: rotate(45deg);
  }
}

.btn {
  position: absolute;
  top: $border;
  right: $border;
  z-index: 2;
  background: white;

  a {
    width: $btn;
    height: $btn;
    display: block;
  }
}

.mask {
  width: 6px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: white;
}
