@font-face {
  font-family: 'Spinnaker Regular';
  src: url('../fonts/spinnaker-regular.eot');
  src: url('../fonts/spinnaker-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/spinnaker-regular.woff2') format('woff'),
       url('../fonts/spinnaker-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
